<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="Description" content="Traveling Website">
    <title>Travigo - Travel for everyone</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">

	<link rel="stylesheet"
  href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Paytone+One&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

</head>
<body>
	<!--header--->
	<header>
		<img src="img/Logo.png "
		 width="100" 
         height="78,21" alt="Logo Travigo">
		<div class="bx bx-menu" id="menu-icon"></div>

		<ul class="navbar">
			<li><a href="index.html">Home</a></li>
			<li><a href="Tours.html">Tours</a></li>
			<li><a href="about.html">About</a></li>
			<li><a href="Dashboard.html">Dashboard</a></li>
			<li><a href="Contact us.html">Contact Us</a></li>
		</ul>
	</header>

	<!--Home section--->
	<section class="home" id="home">
		<div class="home-text">
			<h1>Travigo <br> Travel</h1>
			<p>Explore our trips and live The Good Life with Travigo <br> Tours that make you fall in love with the world.</p>
			<a href="#" class="home-btn">Let's go now</a>
		</div>
	</section>
    <section class="smallm">
     <p>For reservation please<br>contact us at :</p>
    </section>

	<!--container de numéros--->
    

    <section class="adabi">
        <div  class="flags">
            <div class="titles">
             <h2>National</h2>
            </div>
            <div class="e1_995">
                <img src="img/Mar flag.png"
            width="100" 
            height="56,25"alt="Logo Maroc"> 
            <p>
                +212-692-211-340
            </p>
            </div>
    
            <div class="e1_995">
                <img src="img/fr flag.png"
            width="100" 
            height="56,25"alt="Logo France">
            <p>
                +33-775-556-347
            </p>
    
            </div>
            <div class="e1_995">
                <img src="img/us flag.png"
            width="100" 
            height="56,25"alt="Logo United states"> 
            <p>
                +1-202-555-0130
            </p>
            </div>
    
            <div class="e1_995">
                <img src="img/Es flag.png"
            width="100" 
            height="56,25" alt="Logo Spain">
            <p>
                +34-987-490-074
            </p>
            </div>
    
            <div class="e1_995">
                <img src="img/Ita flag.png"
            width="100" 
            height="56,25"alt="Logo Italy">
            <p>
                +39-062-987-897
            </p>
            </div>
    
            <div class="e1_995">
                <img src="img/egy flag.png"
            width="100" 
            height="56,25"alt="Logo Egypte">
            <p>
                +20-117-858-4556
            </p>
            </div>
    
            <div class="e1_995">
                <img src="img/Turk flag.png"
            width="100" 
            height="56,25">
            <p>
                +90-242-650-6315
            </p>
            </div>
    
            <div class="e1_995">
                <img src="img/Grc flag.png"
            width="100" 
            height="56,25"alt="Logo Greece">
            <p>
                +350-217-544-6213
            </p>
            </div>
    
            <div class="e1_995">
                <img src="img/Sus flag.png"
            width="100" 
            height="56,25"alt="Logo Switzerland">
            <p>
                +41-335-853-638
            </p>
            </div>
        </div>
        
        <div class="flags2">
            <div class="titles">
                <h2>International</h2>
               </div>
            <div class="e1_995">
                <img src="img/Inter flag.png"
            width="100" 
            height="56,25"alt="Logo International">
            <p>
                800-420-5805
            </p>
            </div>
    
            <div class="e1_995">
                <img src="img/Inter flag.png"
            width="100" 
            height="56,25"alt="Logo International">
            <p>
                888-420-5805
            </p>
            </div>
    
            <div class="e1_995">
                <img src="img/Inter flag.png"
            width="100" 
            height="56,25"alt="Logo International">
            <p>
                877-420-5805
            </p>
            </div>
        </div>
    </section >
    <section>

           <div class="mail">
           <p>E-Mail</p>
           </div>
           <div class="mail2">
               <p> info@travigo.com </p>
               <p>  travel@tavigo.com</p>
           </div>
 
       <div class=>
        <div class="mail">
        <p>Adresse</p>
        </div>
        <div class="mail2">
            <p>  98 West 21th Street ,New York NY 10016, USA </p>
   
        
    </div>
       
    <!--Feedback Formulaire--->
       </section>
    <div class="titl">
        <h2>Feedback report :</h2>
    </div>


    <section class="solid" >
        <div>
        <p>We would love to hear yhour thoughts , suggestions , concerns or problemes with anything so we can Improve !</p>
        </div>
    <div>
        <div class="mid">
            <p>Feedback Type :</p>
        </div>
    
       <div id="parent">
      <ul id="childWrapper">
   <li class="ilmi">
  <input type="radio" id="Complaint" name="fav_language" class="radio1">
  <label for="Complaint">Complaint</label><br>
   </li>
   <li class="ilmi">
  <input type="radio" id="Suggestions" name="fav_language" class="radio1">
  <label for="Suggestions">Suggestions</label><br>
   </li>
   <li class="ilmi">
  <input type="radio"  id="Questions" name="fav_language" class="radio1">
  <label for="Questions">Questions</label><br>
   </li>
   </ul>
       </div>
   </div> 
   <div class="left">
    <p>Describe your Feedback</p>
</div>
<textarea name="message" id="message" cols="30" rows="10"></textarea>
<form action>
  <label for="fname">Name:</label>
  <input type="text"  required id="fname" name="fname"><br><br>
  <label for="lname">E-Mail:</label>
  <input type="email" required id="lname" name="lname"><br><br>
  <input type="submit" value="Submit" class="sub">
</form>
    
</section>
    
       
    >

	<!--Newsletter--->
	<section class="newsletter">
		<div class="news-text">
			<h2>Newsletter</h2>
			<p>Subscribe For more HTML, CSS, and <br> coding tutorials</p>
		</div>

		<div class="send">
			<form>
				<input type="email" placeholder="Write Your Email" required>
				<input type="submit" value="Submit">
			</form>
		</div>
	</section>

	<!--footer--->
	<section id="contact">
		<div class="footer">
			<div class="main">
				<div class="list">
					<h4>Quick Links</h4>
					<ul>
						<li><a href="#">About us</a></li>
						<li><a href="#">Terms & Conditions</a></li>
						<li><a href="#">Privacy Policy</a></li>
						<li><a href="#">Help</a></li>
						<li><a href="#">Tours</a></li>
					</ul>
				</div>

				<div class="list">
					<h4>Support</h4>
					<ul>
						<li><a href="#">About us</a></li>
						<li><a href="#">Terms & Conditions</a></li>
						<li><a href="#">Privacy Policy</a></li>
						<li><a href="#">Help</a></li>
						<li><a href="#">Tour</a></li>
					</ul>
				</div>

				<div class="list">
					<h4>Contact Info</h4>
					<ul>
						<li><a href="#">98 West 21th Street</a></li>
						<li><a href="#">New York NY 10016</a></li>
						<li><a href="#">+(123)-123-1234</a></li>
						<li><a href="#">info@travigo.com</a></li>
						<li><a href="#">+(123)-123-1234</a></li>
					</ul>
				</div>

				<div class="list">
					<h4>Connect</h4>
					<div class="social">
						<a href="#"><i class='bx bxl-facebook' ></i></a>
						<a href="#"><i class='bx bxl-instagram-alt' ></i></a>
						<a href="#"><i class='bx bxl-twitter' ></i></a>
						<a href="#"><i class='bx bxl-linkedin' ></i></a>
					</div>
				</div>
			</div>
		</div>

		<div class="end-text">
			<p>Copyright ©2022 All rights reserved | Travigo</p>
		</div>
	</section>

	<!--link to js--->
	<script type="text/javascript" src="js/script.js"></script>

</body>
</html>